@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~react-image-gallery/styles/css/image-gallery.css";

body {
  color: white;
  background-color: #0D0D0D;
}

.button {
	transition: .2s;
	cursor: pointer;
}
.button:hover {
	transition: .2s;
	transform: scale(1.02);
}

.bt {
	border-radius: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	height: auto;
	font-size: 18px;
	background: #FF7700;
	margin: 7px;
	font-weight: 500;
	font-size: 18px;
}

.showcontact {
	height: 29px;
	overflow-y: hidden;
	transition: .5s;
}

.showcontact:hover {
	height: 440px;
	transition: .5s;
}